#square1{
background-color: lightblue;
}
#square2{
background-color: lightblue;
}
#square3{
background-color: lightblue;
}
#square4{
background-color: lightblue;
}
#square5{
background-color: lightblue;
}
h2{
    display: inline;
}